
@{
    ViewBag.Title = "Doctors List";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Doctor List</h5>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmLstInvestigation">
                            <div class="form-row">
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtDoctorName" class="control-label font-weight-bold">Doctor Name</label>
                                        <input type="text" name="doctorName" value="" id="txtDoctorName" placeholder="Search By Doctor" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtMobileNo" class="control-label font-weight-bold">Mobile</label>
                                        <input type="text" name="mobile" value="" id="txtMobileNo" placeholder="Search By Mobile" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="ddlSpecialist" class="control-label font-weight-bold">Specialist</label>
                                    @Html.DropDownList("ddlSpecialist", (IEnumerable<SelectListItem>)ViewBag.ddlSpecialist, "--Select Specialist--", new { @class = "form-control form-control-sm select2 search-control" })
                                    <span class="error hide require-specialist font-weight-bold">Specialist is required !</span>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtSearchSex" class="control-label font-weight-bold">Sex</label>
                                        <select id="txtSearchSex" name="docType" class="form-control form-control-sm search-control">
                                            <option value="">--Selecet One--</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label col-md-12 font-weight-bold" style="visibility:hidden">Add Specialist</label>
                                    <div class="col-md-12">
                                        <a href="/Appoinment/CreateDoctor" class="btn btn-outline-primary btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Create Doctor Profile</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-sm" id="dataContainer">
        @{Html.RenderAction("GetDoctorList", new { flag = "view" });}
    </div>
</div>

<div class="modal fade" id="modalDocTimesDetails" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-secondary" style="height:60px">
                @Html.AntiForgeryToken()
                <input type="hidden" id="hdfDocId" />
                <h4 id="modalHeading" class="modal-title">Times Details</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="dataContainer2">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalImage">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header  btn-success">
                <h4 class="modal-title" id="modalHeading">Doctor Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="frmInv" autocomplete="off">
                <input type="hidden" id="hdfDoctorId" value="0" />
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4 hide">
                            <label class="control-label font-weight-bold col-md-12">Member Image</label>
                            <div class="col-md-12">
                                <input type="file" name="MemberLogo2" class="form-control" id="MemberLogo2" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label font-weight-bold col-md-12" style="visibility:hidden">Member Image</label>
                            <div class="col-md-12">
                                <img src="#" alt="Member Image" title="Doctor Image" id="imgMem2" width="200" height="200" />
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-sm">
                                <tr>
                                    <th style="vertical-align:middle">Doctor Name</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdDoctorName" id="mdDoctorName"></span></th>
                                    <th style="vertical-align:middle">Doctor Address</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdAddress" id="mdAddress"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">Doctor Mobile</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdMobileNo" id="mdMobileNo"></span></th>
                                    <th style="vertical-align:middle">Sex</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdSex" id="mdSex"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">DOB</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdDateofBirth" id="mdDateofBirth"></span></th>
                                    <th style="vertical-align:middle">Email</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdEmail" id="mdEmail"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">Hospital</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdHospital" id="mdHospital"></span></th>
                                    <th style="vertical-align:middle">Degree</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdDegree" id="mdDegree"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">Reg No.</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdRegNo" id="mdRegNo"></span></th>
                                    <th style="vertical-align:middle">Doctor Type</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdDocType" id="mdDocType"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">Specialist</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdSpecialist" id="mdSpecialist"></span></th>
                                    <th style="vertical-align:middle">Remarks</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdRemarks" id="mdRemarks"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">Generel Fee</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdGeneralFee" id="mdGeneralFee"></span></th>
                                    <th style="vertical-align:middle">Report Fee</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdReportFee" id="mdReportFee"></span></th>
                                </tr>
                                <tr>
                                    <th style="vertical-align:middle">Follow Up Fee</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdFollowUpFee" id="mdFollowUpFee"></span></th>
                                    <th style="vertical-align:middle">Conseling Fee</th>
                                    <th style="color:darkblue;vertical-align:middle"><span class="mdConselingFee" id="mdConselingFee"></span></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">

    var txtDoctorName = $("#txtDoctorName");
    var txtMobileNo = $("#txtMobileNo");
    var ddlSpecialist = $("#ddlSpecialist");
    var txtSearchSex = $("#txtSearchSex");
    var hdfDoctorId = $("#hdfDoctorId");
    //

    ddlSpecialist.change(function () {
        LoadDataTable();
    })
    txtSearchSex.change(function () {
        LoadDataTable();
    })

    txtDoctorName.keyup(function () {
        LoadDataTable();
    })

    txtMobileNo.keyup(function () {
        LoadDataTable();
    })

    function LoadDataTable() {
        var data = { flag: "search", doctorName: txtDoctorName.val(), specialist: ddlSpecialist.val(), mobile: txtMobileNo.val(), sex: txtSearchSex.val() };

        //return console.log(data);
        $.when(getReqWithData('html', 'GET', '/Appoinment/GetDoctorList', data)).then(function (res, status) {
            console.log(status);
            if (status === "success") {
                $("#dataContainer").fadeOut('500', function () {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res).fadeIn('500');
                });
            }
        }).fail(function (error) {
            console.log(error);
        });
    }

    $(document).on('click', 'a.data-details-item', function (e) {
        e.preventDefault();
        var id = $(this).attr("data-details-item");
        var data = {docId:id };

       // return console.log(data);
        $.when(getReqWithData('html', 'GET', '/Appoinment/DoctorTimeDetails', data)).then(function (res, status) {
            console.log(status);
            if (status === "success") {
                $("#dataContainer2").empty();
                $("#dataContainer2").append(res).fadeIn('500');
                $("#modalDocTimesDetails").modal("show");
            }
        }).fail(function (error) {
            console.log(error);
        });
    })

    //////
    function OpenModalImg() {
            $(".error").addClass("hide");
            $("#modalImage").modal();
            $("#imgMem2").attr("src", "/Images/no_image.png");
        }
        $(document).on('click', 'a.data-item-view', function (e) {
            e.preventDefault();

            var id = $(this).parent().parents('tr').find('td:eq(1)').html();
            var name = $(this).parent().parent('tr').find('td:eq(4)').html();
            var address = $(this).parent().parent('tr').find('td:eq(5)').html();
            var mobile = $(this).parent().parent('tr').find('td:eq(6)').html();
            var sex = $(this).parent().parent('tr').find('td:eq(7)').html();
            var dob = $(this).parent().parent('tr').find('td:eq(8)').html();
            var email = $(this).parent().parent('tr').find('td:eq(9)').html();
            var hospital = $(this).parent().parent('tr').find('td:eq(10)').html();
            var degree = $(this).parent().parent('tr').find('td:eq(11)').html();
            var reg = $(this).parent().parent('tr').find('td:eq(12)').html();
            var type = $(this).parent().parent('tr').find('td:eq(13)').html();
            var specialist = $(this).parent().parent('tr').find('td:eq(14)').html();
            var gfee = $(this).parent().parent('tr').find('td:eq(15)').html();
            var rfee = $(this).parent().parent('tr').find('td:eq(16)').html();
            var ffee = $(this).parent().parent('tr').find('td:eq(17)').html();
            var cfee = $(this).parent().parent('tr').find('td:eq(18)').html();
            var rmk = $(this).parent().parent('tr').find('td:eq(19)').html();

            OpenModalImg();
            hdfDoctorId.val(id);
            $("#mdDoctorName").text(name);
            $("#mdAddress").text(address);
            $("#mdMobileNo").text(mobile);
            $("#mdSex").text(sex);
            $("#mdDateofBirth").text(dob);
            $("#mdEmail").text(email);
            $("#mdHospital").text(hospital);
            $("#mdDegree").text(degree);
            $("#mdRegNo").text(reg);
            $("#mdDocType").text(type);
            $("#mdSpecialist").text(specialist);
            $("#mdRemarks").text(rmk);
            $("#mdGeneralFee").text(gfee);
            $("#mdReportFee").text(rfee);
            $("#mdFollowUpFee").text(ffee);
            $("#mdConselingFee").text(cfee);

            var data = JSON.stringify({ docId: id });
            //return console.log(data);
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, 'POST', '/Appoinment/GetImageBase64String', data, getToken())).then(function (res, status) {
                //console.log(res);
                //console.log(status);
                if (res.doctorImg == "") {
                    $("#imgMem2").attr("src", "/Images/no_image.png");
                } else {
                    $("#imgMem2").attr("src", res.doctorImg);
                }
                
            }).fail(function (err) {
                console.log(err);
            })
        })
    </script>    
}
